<!doctype html>
<html lang="en" xmlns="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Smile Key</title>
</head>
<body>
    <table style="position: fixed; top: 10px; left: 10px; border: black 1px solid; background-color: antiquewhite;">
        <td><a href="/">Home</a></td>
        <td><a href="/about">About</a></td>
        <td><a href="/contact">Contact</a></td>
    </table>
    <table style="position: fixed; top: 10px; right: 10px; border: black 1px solid; background-color: antiquewhite;">
        <td><a href="/login">Login</a></td>
        <td><a href="/register">Register</a></td>
    </table>
    <h1>Welcome to Smile Key</h1>



    <footer style="position: fixed; bottom: 0; width: 100%; background-color: antiquewhite; text-align: center;border: black 1px solid;">
        <p>&copy; 2025 Smile Key</p>
    </footer>
</body>
</html>